// PROJECT COLORS
$primary        : #482396;
//$primary        : #FF1D25;
$fox            : #FF1D25;
$secondary      : #482396;
$secondary      : #482396;

$darker         : #141414;
$lighter        : #F0EEEE;
$dark           : #413A67;

// colors
$black          : #181818;
$white          : white;
$bg             : #F5EFE9;
$red            : #EB4255;
$green          : #5ECA79;
$yellow         : #F8CD46;
$yellow-dark    : #ECB814;
$light          : #F9F8F6;

$bg-chrema      : #F5EEE7;
$bg-light       : $light;

$brand          : $green;

// -----------------------------------

@function h($color) {
  @return darken($color, 10%);
}
