// PROJECT COLORS
$primary        : #EC3C34;
$fox            : $primary;
$secondary      : #112352;

$darker         : #141414;
$dark           : #322D35;
$light          : #E3E6EC;
$lighter        : #F6F8FC;

$black          : #181818;
$white          : white;

$brand          : $primary;

// -----------------------------------

@function h($color) {
  @return darken($color, 10%);
}
