// PROJECT COLORS
$primary        : #FF1D25;
$secondary      : #552DA9;

// colors
$black          : #181818;
$white          : white;
$bg             : #F5EFE9;
$red            : #EB4255;
$green          : #5ECA79;
$yellow         : #F8CD46;
$yellow-dark    : #ECB814;
$light          : #D3DEE3;
$darker         : #141414;
$lighter        : #F0EEEE;

$brand          : $green;

// -----------------------------------

@function h($color) {
  @return darken($color, 10%);
}
