

.four-step-bg {
  width: 100%;
  background-image: url('/svg/mountains-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}



#app {
  .main {









    .four-step {
      .fourstep-block {
        border-radius: 1rem;
        padding: 1.5rem 1rem;
        background-color: rgba(255,255,255, 0.4);
        height: 100%;
        min-height: 100%;
        box-shadow: $main-shadow;
      }
    }


    .player-block {
      height: $hero-height;
      display: flex;
      align-items: center;
      align-content: center;
      overflow: hidden;
      position: relative;

      #playerBlock {
        left: 0;
        right: 0;
        position: absolute;
        overflow: hidden;
        display: flex;
        align-items: center;
        align-content: center;
        min-height: 100%;
        max-height: 100%;
        width: 100%;
        >div {width: 100%; }
      }

      .hero {
        .hero-body {
          padding: 0;
          display: flex;
          align-items: center;
          align-content: center;

          .title, .lead-text {
            color: $white;
          }

          .separator-line {
            background-color: $white;
            // display: none;
          }
        }
      }
    }



  }

}
