.hero-wrapper {
  height: $hero-height;
  background-color: $dark;
  position: relative;
}

.hero.is-memofox-hero {
  .hero-body {
    z-index: 1;
    padding: 0;
  }
}

.hero-title-wrapper {
  margin-top: 1rem;
  .title {
    color: $white;
  }

  .separator-line {
    background-color: $white;
  }

  .lead-text {
    color: $white;
  }

}

.hero-button-wrapper {
  .is-outline {
    margin-left: 1rem;
  }
}

.hero-bg, .hero-bg-gradient  {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width:100%;
  z-index: 0;
  height: $hero-height;
  overflow: hidden;

  .player-block {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: $hero-height;
    right: 0;
    top: -120px;
    bottom: 0;
  }
}

.hero-bg-gradient {
  //background: rgb(15,26,36);
  //background: -webkit-linear-gradient(left, rgba(15,26,36,0.88) 0%, rgba(15,26,36,0.5) 43%, rgba(15,26,36,0) 94%);
  //background: -o-linear-gradient(left, rgba(15,26,36,0.88) 0%, rgba(15,26,36,0.5) 43%, rgba(15,26,36,0) 94%);
  //background: linear-gradient(to right, rgba(15,26,36,0.88) 0%, rgba(15,26,36,0.5) 43%, rgba(15,26,36,0) 94%);
}


// Mobile size
@media screen and (max-width: $mobileSize) {
  .columns {
    margin: 0;
    .column {
      padding: 0;
    }
  }
  .hero-bg {
    .player-block {
      width: 250%;
      right: -100px;
    }
  }
}

// tablet size
@media screen and (min-width: $tabletSize) {
  /*
  .hero-title-wrapper {
    .title.is-primary {
      font-size: 1.50rem;
      line-height: 2rem;
    }
    .lead-text {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  */
  .hero-bg {
    .player-block {
      width: 140%;
      top: 0;
      right: -64px;
    }
  }
}

@media screen and (min-width: $desktopSize) {
  .hero-bg {
    .player-block {
      width: 116%;
      top: -10%;
    }
  }
}

@media screen and (max-width: $widescreenSize) {
  .hero-title-wrapper {
    .title.is-secondary {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
    .lead-text {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

@media screen and (min-width: $widescreenSize) {
  .hero-bg {
    .player-block {
      width: 110%;
      top: -20%;
      right: 0;
    }
  }
}

@media screen and (min-width: $fullhdSize) {
  .hero-bg {
    .player-block {
      width: 100%;
      top: -20%;
      right: 0;
    }
  }
}
