.hero.is-memofox-hero {
  height: $hero-height;

  .hero-body {
    z-index: 1;
    padding: 0;
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: $hero-height;
  overflow: hidden;
  background: linear-gradient(#EBCBC9, #FAE9E8);
  img {
    width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
