.main {
  background-color: $lighter;

  font-family: Jaldi;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .is-color-primary {
    color: $primary;
  }

  .is-color-secondary {
    color: $secondary;
  }

  .is-strong {
    font-weight: 700;
  }

  .pt-max {
    padding-top: 5rem;
  }
  .pb-max {
    padding-bottom: 5rem;
  }

  .container {
    min-width: 100%;
    margin: 0 0;
  }

  .columns {
    width: 100%;
  }

  .vcenter {
    display: flex;
    align-items: center;
  }

  .hcenter {
    display: flex;
    justify-content: center;
  }

  .memo, .fox {
    //font-family: Jaldi;
    font-weight: 700;
    text-transform: uppercase;
  }

  .fox {
    color: $fox;
  }

  .separator-line {
    height: 1px;
    background: $dark;
  }

  hr {
    background: url('~@/assets/svg/content_separator.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: $size;
    margin-top: 0;
    opacity: 0.5;

    &.simple {
      height: 1px;
      background: $dark;
      opacity: 0.1;
    }
  }

  .lead-text {
    color: $dark;
    font-size: $text-size-lead;
    line-height: $text-height-lead;
    strong{
      color: $dark;
      font-weight: 700;
    }
  }

  .bread-text {
    color: $dark;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .footer {
    background-color: darken( $secondary, 30% );
  }

  .bg-light {
    position: relative;
    //background-image: url('~@/assets/svg/header_hero_background.svg');
    //background-image: url('~@/assets/image/AdobeStock_240244085.jpg');
    background-image: url('~@/assets/image/AdobeStock_270207090.jpg');
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgb(255,255,255);
      background: -webkit-linear-gradient(left, rgba(255,255,255,0.96) 0%, rgba(255,255,255,0.8981967787114846) 30%, rgba(255,255,255,0.6993172268907564) 40%, rgba(255,255,255,0) 60%);
      background: -o-linear-gradient(left, rgba(255,255,255,0.96) 0%, rgba(255,255,255,0.8981967787114846) 30%, rgba(255,255,255,0.6993172268907564) 40%, rgba(255,255,255,0) 60%);
      background: linear-gradient(to right, rgba(255,255,255,0.96) 0%, rgba(255,255,255,0.8981967787114846) 30%, rgba(255,255,255,0.6993172268907564) 40%, rgba(255,255,255,0) 60%);
    }
  }

  .four-step-bg {
      width: 100%;
      //background: rgb(236,204,202);
      //background: -webkit-linear-gradient(267deg, rgba(236,204,202,1) 0%, rgba(250,233,232,1) 100%);
      //background: -o-linear-gradient(267deg, rgba(236,204,202,1) 0%, rgba(250,233,232,1) 100%);
      //background: linear-gradient(357deg, rgba(236,204,202,1) 0%, rgba(250,233,232,1) 100%);
      //background-color: $lighter;

      background-image: url('~@/assets/svg/mountains-background.svg');
      background-repeat: no-repeat;
      background-size: cover;
      //background-position: center -5rem;
      z-index: 0;
    }

  .four-step {
    &.columns {
      margin-left: -0.5rem;
      margin-right: 1rem;
      margin-top: -0.5rem;
      .column {
        padding: 0.5rem;
      }
    }

  }

  .fourstep-block {

      border-radius: $radius;
      padding: 1.5rem;
      background-color: rgba(255,255,255, 0.9);
      height: 100%;
      min-height: 100%;
      box-shadow: $box-shadow;

      .title {
        margin-top: 8px;
      }
  }

  .player-separator {
    height: 320px;
    display: flex;
    align-items: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    background-color: $darker;

    .columns {
      position: relative;
      z-index: 2;
      .title, .lead-text {
        color: white;
        filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.9));
      }

      .lead-text {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .player-block {
      left: 0;
      right: 0;
      position: absolute;
      overflow: hidden;
      display: flex;
      align-items: center;
      align-content: center;
      min-height: 100%;
      max-height: 100%;
      width: 100%;
      >div { width: 100%; }

    }

  }

  // Mobile size
  @media screen and (max-width: $mobileSize) {
    .container {
      padding: 0 2rem;
    }
  }

  // tablet size
  @media screen and (min-width: $tabletSize) {
    .container {
      padding: 0 3rem;
    }
  }

  @media screen and (min-width: $desktopSize) {
    .container {
      padding: 0 6rem;
    }
  }

  @media screen and (min-width: $widescreenSize) {

  }

  @media screen and (min-width: $fullhdSize) {
    .container {
      padding: 0;
      margin: 0 auto;
      width: 1344px;
      min-width: auto;
      max-width: 1344px;
    }
  }

}
