.main {

  .container {
    &.nav-container {
      z-index: 2;
    }
  }

  .navbar {
    @include transition(all .25s ease-in-out 50ms);
    background: none;
    padding: 1rem 4rem;
    .navbar-item img {
      max-height: 100%;
    }

    a {
      font-weight: bold;
      color: $secondary;

      &.router-link-exact-active {
        color: darken($secondary, 20%);
      }
    }

    .brand-subtitle {
      display: none;
      color: $dark;
      font-weight: 600;
      font-family: Raleway;
      text-transform: uppercase;
    }

    &.scrolled {
      background-color: rgba(255,255,255,0.99);
      box-shadow: $main-shadow;
      .brand-subtitle {
        display: inline;
      }
    }

    a.navbar-item, a.navbar-link {
      &:focus-within, &.is-active, &:focus {
        background-color: transparent;
      }
      &:hover {
        color: lighten($secondary, 10%);
      }
    }

    .buttons {
      margin-bottom: 0;
      .button {
        margin-bottom: 0;
        padding-left: 1.75rem;
        font-size: 1rem;
        color: white;
      }
    }

    .navbar-brand {
      // margin-left: 0;
      .navbar-item {
        //padding: 0
      }
    }
    .navbar-end {
      .navbar-item:last-child{
        // padding-right: 0;
      }
    }
  }

  .navbar-end {
    position: relative;
  }

}

.basket-wrapper {
  position: absolute;
  top: 4rem;
  right: 0 + 0.25rem;
  bottom: 4rem;
  background: white;
  width: 30rem;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: $main-shadow;
  //box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);

  .basket-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $space;

    .basket-title-wrapper {
      color: $secondary;
      display: flex;
      align-items: center;
      max-height: 2rem;
      .icon-basket {
        width: 2rem;
        height: 2rem;
        margin-right: $space;
      }
      .title-text {
        font-family: Raleway;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .close {
      max-height: 2rem;
      cursor: pointer;
      &:hover {
        color: darken($secondary, 10%);
      }
    }
  }
  .basket-info {
    color: $darker;
    padding-bottom: 1rem;
    border-bottom: 2px solid $lighter;
  }

  .basket-item-wrapper {

    .product-item {
      display: flex;
      justify-content: space-between;
      color: $darker;
      padding: 1rem 0;
      border-bottom: 2px solid $lighter;
    }

    .l-item-name{
      display: flex;
      align-items: stretch;

      .item-icon {
        width: 2rem;
        min-width: 2rem;
        display: flex;
        align-items: center;
      }

      .item-product {
        max-width: 100%;
        display: flex;
        align-items: left;
        flex-direction: column;
        padding: 0 1rem;

        .item-category {
          font-family: Raleway;
          text-transform: uppercase;
          font-weight: 800;
        }
        .item-name {
          font-size: $size-detail;
          line-height: 1.5rem;
        }
      }
    }
    .r-item-functions {
      width: 4.5rem;
      min-width: 4.5rem;
      .item-price {
        color: #969696;
        font-size: $size-detail;
        line-height: 1.5rem;
        text-align: right;
      }
      .item-function {
        display: flex;
        flex-direction: row;
        align-items: right;
        .item-delete, .item-add, .item-down {
          max-height: 1.5rem;
          cursor: pointer;
        }
        .item-number {
          font-weight: 700;
          min-width: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}
