#app {
  .main {
    &.page-with-nav {
      padding-top: 8rem;
    }

    .order-form {
      border-radius: 1rem;
      padding: 1.5rem 1rem;
      background-color: rgba(255,255,255, 0.4);
      box-shadow: 0px 4px 1rem rgba(0,0,0,0.1);
      height: 573px;
      position: relative;

      .order-sort-numb {
        display: flex;
        border-radius: 4rem;
        background-color: $dark;
        color: $white;
        width: 2rem;
        height: 2rem;
        font-family: Oxygen;
        font-weight: 700;
        margin-right: $size;
      }

    }

    .order-buttons {
      position: absolute;
      left: 1rem;
      right: 1rem;
      bottom: 1.5rem;
      .button {
        //width: 100%;
      }
    }

    .item-wrapper {
      .column {
        padding-top: 0.625rem;
        padding-bottom: 0;
      }
    }

    .item-box {
      width: 100%;
      min-height: 120px;
      border-radius: 4px;
      background: $lighter;
      cursor: pointer;
      flex-direction: column;
      border: 2px solid $lighter;

      &:hover {
        background: darken($lighter, 5%);
        border-color: darken($lighter, 5%);
      }

      &.is-active {
        color: $secondary;
        font-weight: 600;
        border-color: $secondary;
      }

      &.is-info {
        .name {
          font-weight: 600;

          &.highlight {
            height: 3rem;
            background-color: $dark;
            width: 100%;
            text-transform: uppercase;
          }
        }
        .item-subtitle {

        }
      }
    }



  }
}
