#app {
  .main {

    &.products-wrapper {
      .product-hero {
        background-image: url('~@/assets/image/photo07698.jpg');
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgb(255,255,255);
          background: -webkit-linear-gradient(left, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0.80) 30%, rgba(255,255,255,0.60) 60%, rgba(255,255,255,0) 80%);
          background: -o-linear-gradient(left, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0.80) 30%, rgba(255,255,255,0.60) 60%, rgba(255,255,255,0) 80%);
          background: linear-gradient(to right, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0.80) 30%, rgba(255,255,255,0.60) 60%, rgba(255,255,255,0) 80%);
        }

        padding-bottom: 8rem;

        .player-separator {
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          //height: 100%;
          .columns {
            display: none;
          }
        }
      }

    }

    .survey-form {
      position: relative;

      .survey-form-content {
        .panel-block {
          align-items: flex-start;
          height: 266px;
        }
      }

      .subtitle {
        font-weight: 600;
        color: $darker;
      }

      .order-sort-numb {
        display: flex;
        border-radius: 4rem;
        background-color: $dark;
        color: $white;
        width: 1.75rem;
        height: 1.75rem;
        font-weight: 700;
        margin-right: $size;
      }

    }

    .panel-heading {
      background-color: $light;
    }

    .survey-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;

      border-top: 1px solid $light;
      //background-color: $lighter;
      border-radius: 0 0 6px 6px;

      .button-container {
        width: 200px;
      }
    }

    .item-wrapper {
      .column {
        padding-top: 0.625rem;
        padding-bottom: 0;
      }
    }

    .item-box {
      @include transition(background-color .25s ease-in-out 50ms);
      width: 100%;
      min-height: 68px;
      position: relative;
      border-radius: 6px;
      //background: rgba(255,255,255, 0.8);
      background: $lighter;
      color: $darker;
      cursor: pointer;
      border: 2px solid $light;
      padding: $space 1rem;
      //box-shadow: $box-shadow;
      flex-direction: column;
      &.is-row {
        flex-direction: row;
        justify-content: flex-start;
      }

      &:hover {
        background: $white;
        //border-color: $light;
      }

      .item-image {
        padding-right: 1rem;
        .material-icons {
          font-size: 2rem;
        }
        img {
          width: 80%;
        }
      }

      .name {
        font-size: 1.25rem;
        //font-weight: 600;
      }

      &.is-active {
        border-color: $secondary;
        background: $white;
        //color: $secondary;
        .name {
          //color: white;
          //font-weight: 600;
        }
      }

      // ha plusz infoval rendelkezik a lepes.
      &.is-info {
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        .name {
          width: 100%;
          font-size: 1.125rem;
          font-weight: 600;
          text-transform: uppercase;
          padding: 1rem 0 $space;
          margin-top: 0;
          margin-bottom: $space;

        }
        .item-highlight {
          padding: 4px 12px;
          font-size: 0.800rem;
          text-transform: uppercase;
          font-weight: 600;
          position: absolute;
          top: -2px;
          color: $white;
          background-color: $dark;
        }

        .item-info {
          width: 100%;
          li {
            width: 100%;
            padding: 4px 0;
            border-radius: $radius;
            margin-bottom: 2px;
            background: whitesmoke;
            &:nth-child(2n) {
              font-weight: 600;
            }
          }
          &.is-epic {
            li:nth-child(2n) {
              color: #7E7E7E;
              font-weight: 500;
              text-decoration:line-through;
            }
          }
        }
      }

    }



  }
}
