#app {
  .main {
    &.page-with-nav {
      padding-top: 8rem;
    }

    .order-form {
      border-radius: 1rem;
      padding: 1.5rem 1rem;
      background-color: rgba(255,255,255, 0.6);
      box-shadow: 0px 4px 1rem rgba(0,0,0,0.1);
      height: 573px;
      position: relative;

      .order-sort-numb {
        display: flex;
        border-radius: 4rem;
        background-color: $dark;
        color: $white;
        width: 2rem;
        height: 2rem;
        font-family: Oxygen;
        font-weight: 700;
        margin-right: $size;
      }

    }

    .order-buttons {
      position: absolute;
      left: 1rem;
      right: 1rem;
      bottom: 1.5rem;
      .button {
        //width: 100%;
      }
    }

    .item-wrapper {
      .column {
        padding-top: 0.625rem;
        padding-bottom: 0;
      }
    }

    .item-box {
      @include transition(background-color .25s ease-in-out 50ms);
      width: 100%;
      position: relative;
      min-height: 120px;
      border-radius: 8px;
      background: rgba(255,255,255, 0.8);
      color: $darker;
      //background: lighten($lighter, 90%);
      //background: #FAF8F6;
      cursor: pointer;
      flex-direction: column;
      border: 2px solid $lighter;
      //font-weight: 600;

      &:hover {
        //background: $white;
        border-color: darken($lighter, 20%);
      }

      &.is-active {
        border-color: $secondary;
        .name {
          //color: $primary;
          //font-weight: 600;
        }
      }

      // ha plusz infoval rendelkezik a lepes.
      &.is-info {
        padding: 1rem;
        .name {
          width: 100%;
          font-size: 1.125rem;
          font-weight: 600;
          text-transform: uppercase;
          padding: 1rem 0 $space;
          margin-top: 0;
          margin-bottom: $space;

        }
        .item-highlight {
          padding: 4px 12px;
          font-size: 0.800rem;
          text-transform: uppercase;
          font-weight: 600;
          position: absolute;
          top: -2px;
          color: $white;
          background-color: $dark;
        }

        .item-info {
          width: 100%;
          li {
            width: 100%;
            padding: 4px 0;
            border-radius: 8px;
            margin-bottom: 2px;
            &:nth-child(2n) {
              font-weight: 600;
            }
          }
          &.is-epic {
            li:nth-child(2n) {
              color: #7E7E7E;
              font-weight: 500;
              text-decoration:line-through;
            }
          }
        }
      }

    }



  }
}
