.main {
  .title {
    font-family: Sora;
    //font-family: 'Red Hat Display';
    font-weight: 700;
    color: $darker;
    flex-direction: row;


    &.is-fox {
      color: $primary;
    }

    &.has-secondary-color {
      color: $secondary;
    }

    &.is-primary {
      font-size: $text-primary;
      line-height: 2.5rem;
    }

    &.is-secondary {
      font-size: $text-secondary;
      line-height: 2.5rem;
    }

    &.is-tertiary {
      //font-weight: 700;
      font-size: $text-tertiary;
    }

  }
  @media screen and (max-width: $mobileSize) {
    .title.is-primary {
      //font-size: $text-size-title-secondary;
    }
  }
  @media screen and (min-width: $tabletSize) {
    .title.is-primary {
      //font-size: $text-size-title-secondary;
    }
  }
  @media screen and (min-width: $desktopSize) {
    .title.is-primary {
      //font-size: $text-size-title-primary;
    }
  }
}
